<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="title-all text-center">
                <h1>latest blog</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-4">
            <div class="blog-box">
                <div class="blog-img">
                    <img class="img-fluid" src="images/blog-img.jpg" alt="" />
                </div>
                <div class="blog-content">
                    <div class="title-blog">
                        <h3>Fusce in augue non nisi fringilla</h3>
                        <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                    </div>
                    <ul class="option-blog">
                        <li><a href="#"><i class="far fa-heart"></i></a></li>
                        <li><a href="#"><i class="fas fa-eye"></i></a></li>
                        <li><a href="#"><i class="far fa-comments"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4">
            <div class="blog-box">
                <div class="blog-img">
                    <img class="img-fluid" src="images/blog-img-01.jpg" alt="" />
                </div>
                <div class="blog-content">
                    <div class="title-blog">
                        <h3>Fusce in augue non nisi fringilla</h3>
                        <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                    </div>
                    <ul class="option-blog">
                        <li><a href="#"><i class="far fa-heart"></i></a></li>
                        <li><a href="#"><i class="fas fa-eye"></i></a></li>
                        <li><a href="#"><i class="far fa-comments"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4">
            <div class="blog-box">
                <div class="blog-img">
                    <img class="img-fluid" src="images/blog-img-02.jpg" alt="" />
                </div>
                <div class="blog-content">
                    <div class="title-blog">
                        <h3>Fusce in augue non nisi fringilla</h3>
                        <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                    </div>
                    <ul class="option-blog">
                        <li><a href="#"><i class="far fa-heart"></i></a></li>
                        <li><a href="#"><i class="fas fa-eye"></i></a></li>
                        <li><a href="#"><i class="far fa-comments"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>