<div class="main-instagram owl-carousel owl-theme">
    <div class="item">
        <div class="ins-inner-box">
            <img src="images/instagram-img-01.jpg" alt="" />
            <div class="hov-in">
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ins-inner-box">
            <img src="images/instagram-img-02.jpg" alt="" />
            <div class="hov-in">
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ins-inner-box">
            <img src="images/instagram-img-03.jpg" alt="" />
            <div class="hov-in">
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ins-inner-box">
            <img src="images/instagram-img-04.jpg" alt="" />
            <div class="hov-in">
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ins-inner-box">
            <img src="images/instagram-img-05.jpg" alt="" />
            <div class="hov-in">
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ins-inner-box">
            <img src="images/instagram-img-06.jpg" alt="" />
            <div class="hov-in">
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ins-inner-box">
            <img src="images/instagram-img-07.jpg" alt="" />
            <div class="hov-in">
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ins-inner-box">
            <img src="images/instagram-img-08.jpg" alt="" />
            <div class="hov-in">
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ins-inner-box">
            <img src="images/instagram-img-09.jpg" alt="" />
            <div class="hov-in">
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ins-inner-box">
            <img src="images/instagram-img-05.jpg" alt="" />
            <div class="hov-in">
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>